/* Прижал футер к низу страницы ---------------------*/
html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

/* Жирный шрифт */
.tab {
    font-weight: 700;
    text-decoration: none;
}

.tab a {
    text-decoration: none;
}

/* Кнопка админ-панели */
.admin {
    margin-left: 50px;
    border: 1px solid #fff;
    padding: 0 10px;
    text-decoration: none;
}
